<div class="apps-section">
    <div class="apps-container">
        <div class="apps-heading">
            <div class="apps-title">
                Download Our App for Any Devices:
            </div>
            <div class="apps-h-items">
                <div class="apps-h-item">
                    <div class="apps-content">
                        <div class="apps-h-span">
                            <div class="apps-span">App Store</div>
                            <div class="apps-stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="apps-h-texts">
                            <div class="apps-h-text">
                                Editor's Choice
                            </div>
                            <div class="apps-h-desc">
                                raiting 4.7, 187K+ reviews
                            </div>
                        </div>
                        <div class="apps-btn">
                            <div class="apps-b-icon">
                                <img src="images/apple-icon.png" alt="">
                            </div>
                            <div class="apps-b-texts">
                                <div class="apps-b-text">
                                    Download on the
                                </div>
                                <div class="apps-b-title">
                                    App Store
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apps-h-item">
                    <div class="apps-content">
                        <div class="apps-h-span">
                            <div class="apps-span">
                                Google Play
                            </div>
                            <div class="apps-stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="apps-h-texts">
                            <div class="apps-h-text">
                                App of the Day
                            </div>
                            <div class="apps-h-desc">
                                raiting 4.8, 30K+ reviews
                            </div>
                        </div>
                        <div class="apps-btn">
                            <div class="apps-b-icon">
                                <img src="images/googlePlay.png" alt="">
                            </div>
                            <div class="apps-b-texts">
                                <div class="apps-b-text">
                                    GET IT ON
                                </div>
                                <div class="apps-b-title">
                                    Google Play
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="apps-images">
            <img class="iphone" src="images/screens.png" alt="">
        </div>
    </div>
</div>