<div class="content-wrapper">
    <div class="mange-text">
        <div class="manage-title">Manage Your Work</div>
        <ul class="feature-list">
            <li><i class="fa-regular fa-circle-check"></i>Powerful project management</li>
            <li><i class="fa-regular fa-circle-check"></i>Transparent work management</li>
            <li><i class="fa-regular fa-circle-check"></i>Manage work & focus on the most important tasks</li>
            <li><i class="fa-regular fa-circle-check"></i>Track your progress with interactive charts</li>
            <li><i class="fa-regular fa-circle-check"></i>Easiest way to track time spent on tasks</li>
        </ul>
        <button class="manage-btn">Learn More <i class="fa-solid fa-arrow-right"></i></button>
    </div>
    <div class="manage-img">
        <img src="images/dashboard2.png" alt="Dashboard">
    </div>
</div>
