<div class="showcase">
    <div class="showcase-item">
        <div class="showcase-heading">
            <div class="heading-content">
                <div class="showcase-title">Task Management Assistant You Gonna Love</div>
                <div class="showcase-description">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</div>
                <div class="showcase-btn">
                    <a href=""><div class="sh-btn">Get Started for free</div></a>

                </div>
            </div>
            <div class="heading-partner">
                <div class="partner-title">Largest companies use our tool to work efficiently</div>
                <div class="partner-logos">
                    <img src="images/logoipsum1.png" alt="">
                    <img src="images/logoipsum2.png" alt="">
                    <img src="images/logoipsum3.png" alt="">
                    <img src="images/logoipsum4.png" alt="">
                </div>
            </div>
        </div>
        <div class="showcase-image">
            <img src="images/dashboard.png" alt="" class="showcase-img">
        </div>
    </div>

</div>