<div class="switch-section">
    <div class="switch">
        <div class="switch-heading">
            <div class="switch-title-left">
                Switch Between
            </div>
            <div class="switch-title-right">Light & Dark Mode</div>
        </div>
        <div class="switch-content">
            <div class="s-content">
                <div class="switch-images">
                    <div class="switch-img"><img class="s-img img-d" src="images/mockup.png" alt=""></div>
                    <div class="switch-icon">
                        <div class="s-icon">
                            <i class="fa-solid fa-arrows-left-right"></i>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>