<div class="tool-section">
    <div class="tool">
        <div class="tool-heading">
            <div class="tool-title">
                What Do You Get With Our Tool?
            </div>
            <div class="tool-description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum adipisci necessitatibus sit, mollitia officia optio nam dolorum.
            </div>
        </div>
        <div class="tool-items">
            <div class="tool-item">
                <div class="tool-icon"><img class="t-icon" src="images/add-group.png" alt=""></div>
                <div class="item-title">Multiple Assigness</div>
                <div class="item-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat.</div>
            </div>
            <div class="tool-item">
                <div class="tool-icon"><img class="t-icon" src="images/bell.png" alt=""></div>
                <div class="item-title">Notifications</div>
                <div class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate.</div>
            </div>
            <div class="tool-item">
                <div class="tool-icon"><img class="t-icon" src="images/chat.png" alt=""></div>
                <div class="item-title">Comments on Tasks</div>
                <div class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga!</div>
            </div>
            <div class="tool-item">
                <div class="tool-icon"><img class="t-icon" src="images/presentation.png" alt=""></div>
                <div class="item-title">Tasks Analytics</div>
                <div class="item-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil!</div>
            </div>
            <div class="tool-item">
                <div class="tool-icon"><img class="t-icon" src="images/shield.png" alt=""></div>
                <div class="item-title">Data Security</div>
                <div class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure!</div>
            </div>
            <div class="tool-item">
                <div class="tool-icon"><img class="t-icon" src="images/test.png" alt=""></div>
                <div class="item-title">Sections & Subtasks</div>
                <div class="item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi.</div>
            </div>
        </div>
    </div>

</div>