<div class="work-tool-section">
    <div class="work-tool">
        <div class="work-tool-heading">
            <div class="work-titel">
                Integrate Top Work Tools
            </div>
            <div class="work-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.
            </div>
        </div>
        <div class="work-tool-items">
            <div class="work-tool-item">
                <div class="work-icon"><img class="t-icon" src="images/google.png" alt="Google"></div>
                <div class="work-tool-description">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</div>
                <div></div>
            </div>
            <div class="work-tool-item">
                <div class="work-icon"><img class="t-icon" src="images/zoom.png" alt="Zoom"></div>
                <div class="work-tool-description">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</div>
                <div></div>
            </div>
            <div class="work-tool-item">
                <div class="work-icon"><img class="t-icon" src="images/slack.png" alt="Slack"></div>
                <div class="work-tool-description">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</div>
                <div></div>
            </div>
            <div class="work-tool-item">
                <div class="work-icon"><img class="t-icon" src="images/gmail.png" alt="Gmail"></div>
                <div class="work-tool-description">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</div>
                <div></div>
            </div>
            <div class="work-tool-item">
                <div class="work-icon"><img class="t-icon" src="images/trello.png" alt="Trello"></div>
                <div class="work-tool-description">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</div>
                <div></div>
            </div>
            <div class="work-tool-item">
                <div class="work-icon"><img class="t-icon" src="images/mailchimp.svg" alt="Mailchimp"></div>
                <div class="work-tool-description">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</div>
                <div></div>
            </div>
            <div class="work-tool-item">
                <div class="work-icon"><img class="t-icon" src="images/dropbox.png" alt="Dropbox"></div>
                <div class="work-tool-description">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</div>
                <div></div>
            </div>
            <div class="work-tool-item">
                <div class="work-icon"><img class="t-icon" src="images/evernote.png" alt="Evernote"></div>
                <div class="work-tool-description">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</div>
                <div></div>
            </div>
        </div>
    </div>
</div>