<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="SilikonBlazorApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body data-enhance-nav="false">
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://kit.fontawesome.com/31bc6052f9.js" crossorigin="anonymous"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="js/cookieConstent.js"></script>
</body>


</html>
