@use '../core' as *;

.newsletter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-100);

    .newsletter-items {
        max-width: 860px;
        padding: 20px 20px;

        .news-heading {
            display: flex;
            align-items: center;

            .news-titel {
                @include h4;
                margin-bottom: 10px;

                @include lg {
                    @include h2;
                }

                @include xl {
                    @include h1;
                }
            }

            .news-icon {
                margin-top: 20px;
                height: 68px;

                @include lg {
                    margin-left: 20px;
                }

                img {
                    width: 65%;
                    height: auto;
                }
            }
        }

        .news-boxes {
            display: flex;

            .news-b-text {
                width: 150px;
                @include h6;

                @include lg {
                    @include h5;
                }
            }

            .news-c-boxes {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 10px;
                column-gap: 10px;
                color: var(--gray-700);

                @include lg {
                    column-gap: 15px;
                    row-gap: 14px;
                    grid-template-columns: repeat(3, 1fr);
                }

                @include xl {
                    @include text-s;
                }

                .news-input {
                    display: flex;
                    align-items: center;
                }

                .news-input label {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    color: var(--gray-700);
                }

                .news-input input[type="checkbox"] {
                    appearance: none;
                    -webkit-appearance: none;
                    background-color: transparent;
                    margin-right: 3px;
                    position: relative;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        border: 2px solid var(--gray-500);
                        border-radius: 3px;
                        margin-right: 10px;
                        vertical-align: middle;
                    }

                    &:checked::before {
                        background-color: var(--theme);
                        border-color: var(--theme);
                    }

                    &:checked::after {
                        content: '✔';
                        position: absolute;
                        left: 5px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: var(--white);
                        font-size: 1rem;
                    }
                }
            }
        }

        .news-subscribe {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 32px;

            span {
                justify-self: flex-start;
                &.field-validation-error {
                    color: var(--danger);
                }
                margin-bottom: 10px;
            }

            .news-s-input {
                position: relative;
                display: flex;
                column-gap: 10px;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .input-wrapper {
                    display: flex;
                    position: relative;
                    flex-grow: 1;

                    input[type="email"] {
                        width: calc(100% - 40px);
                        padding: 10px 10px 10px 40px;
                        border: 2px solid var(--gray-500);
                        border-radius: 5px;
                        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);

                        &::placeholder {
                            color: var(--gray-500);
                        }

                        &:focus {
                            outline: none;
                            border-color: var(--gray-200);
                        }
                    }

                    .email-icon {
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: var(--gray-500);

                        i {
                        }
                    }
                }

                button {
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    background-color: var(--theme);
                    color: white;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--theme-secondary);
                    }
                }
            }

            .asterisk {
                color: var(--theme);
                font-weight: bold;
                vertical-align: text-top;
                font-size: 10px;
            }

            a {
                color: var(--theme);
                text-decoration: none;

                &:hover {
                    color: var(--theme);
                    text-decoration: underline;
                }
            }

            p {
                color: var(--gray-600);
                align-self: start;
            }
        }
    }
}
