@use '../core' as *;

.profile-section {

    .account {
        display: grid;

        @include md {
            display: flex;
            justify-content: space-between;
        }

        @include lg {
            max-width: 992px;
            margin: 0 auto;
            width: 100%;
        }

        @include xl {
            max-width: 1200px;
        }

        @include xxl {
            max-width: 1400px;
        }

        .profile {
            justify-self: center;
            display: grid;
            width: 318px;

            @include md {
                display: block;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 100%;
                    background-color: var(--gray-300);
                    right: 0;
                    top: 0;

                    @include xxl {
                        right: -20px;
                    }
                }
            }

            .user-profile {
                justify-self: center;

                .image-profile {
                    display: grid;

                    .image-p {
                        justify-self: center;
                        position: relative;
                        width: 100px;
                        border-radius: 50%;
                        overflow: hidden;
                        aspect-ratio: 1/1;

                        img {
                            width: 100%;
                        }

                        .icon-image {
                            width: 20px;
                            height: 20px;
                            background-color: var(--white);
                            color: var(--gray-800);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 5px;
                            border-radius: 50%;
                            position: absolute;
                            right: 0;
                            bottom: 6px;
                            border: 1px solid var(--gray-300);

                            i {
                                font-size: 11px;
                            }
                        }
                    }
                }

                .profile-name {
                    display: grid;

                    .name {
                        justify-self: center;
                        @include h6;
                    }

                    .profile-email {
                        justify-self: center;

                        p {
                            margin-block-start: 0;
                            margin-block-end: 0;
                            @include text-s;
                        }
                    }
                }
            }

            .profile-menu {
                .detail {
                    @include md {
                        margin-left: 10px;
                    }

                    .account-detail {
                        .menu {
                            padding-inline-start: 0;

                            li {
                                list-style: none;
                                @include text-nav;
                                padding: 10px 20px;
                                border-radius: 8px;
                                cursor: pointer;

                                i {
                                    color: var(--gray-600);
                                    margin-right: 10px;
                                }

                                &:hover {
                                    background-color: var(--theme);
                                    color: var(--white);

                                    i {
                                        color: var(--white);
                                    }
                                }
                            }

                            .profile-nav.active {
                                background-color: var(--theme);
                                color: var(--white);

                                i {
                                    color: var(--white);
                                }
                            }
                        }
                    }
                }
            }
        }


        .detail-section {
            justify-self: center;
            display: grid;

            @include md {
                padding: 20px;
                width: 60%;
            }

            @include xxl {
                width: 67%;
            }

            .account-titel {
                @include h4;
            }

            .profile-info {
                display: grid;
                row-gap: 50px;

                .p-i-basic-info {
                    .info-titel {
                        @include h5;
                        color: var(--theme);
                    }

                    .info-section {
                        display: grid;
                        row-gap: 20px;

                        .i-s-fullname {
                            display: grid;
                            grid-template-columns: auto auto;
                            column-gap: 20px;

                            .i-s-fname {
                                display: grid;

                                span {
                                    &.field-validation-error {
                                        color: var(--danger);
                                    }
                                }

                                label {
                                    margin-bottom: 5px;
                                    @include h6;
                                }

                                input {
                                    padding: 8px;
                                    border: 1px solid var(--gray-400);
                                    border-radius: 8px;

                                    &:focus {
                                        outline: none;
                                        border-color: var(--gray-600);
                                    }
                                }
                            }

                            .i-s-lname {
                                display: grid;

                                span {
                                    &.field-validation-error {
                                        color: var(--danger);
                                    }
                                }

                                label {
                                    @include h6;
                                    margin-bottom: 5px;
                                }

                                input {
                                    padding: 8px;
                                    border: 1px solid var(--gray-400);
                                    border-radius: 8px;

                                    &:focus {
                                        outline: none;
                                        border-color: var(--gray-600);
                                    }
                                }
                            }
                        }

                        .i-s-contact {
                            display: grid;
                            grid-template-columns: auto auto;
                            column-gap: 20px;

                            .i-s-c-email {
                                display: grid;

                                span {
                                    &.field-validation-error {
                                        color: var(--danger);
                                    }
                                }

                                label {
                                    @include h6;
                                    margin-bottom: 5px;
                                }

                                input {
                                    padding: 8px;
                                    border: 1px solid var(--gray-400);
                                    border-radius: 8px;

                                    &:focus {
                                        outline: none;
                                        border-color: var(--gray-600);
                                    }
                                }
                            }

                            .i-s-c-phone {
                                display: grid;

                                label {
                                    @include h6;
                                    margin-bottom: 5px;
                                }

                                input {
                                    padding: 8px;
                                    border: 1px solid var(--gray-400);
                                    border-radius: 8px;

                                    &:focus {
                                        outline: none;
                                        border-color: var(--gray-600);
                                    }
                                }
                            }
                        }

                        .b-optional {
                            display: grid;

                            label {
                                @include h6;
                                margin-bottom: 5px;

                                span {
                                    color: var(--gray-600);
                                }
                            }

                            input {
                                padding: 8px;
                                border: 1px solid var(--gray-400);
                                border-radius: 8px;

                                &:focus {
                                    outline: none;
                                    border-color: var(--gray-600);
                                }
                            }

                            textarea {
                                height: 104px;
                                padding: 8px;
                                border: 1px solid var(--gray-400);
                                border-radius: 8px;

                                &:focus {
                                    outline: none;
                                    border-color: var(--gray-600);
                                }
                            }
                        }
                    }

                    .buttons-profile {
                        display: flex;
                        margin-top: 15px;

                        .cancel-btn {
                            button {
                                color: var(--gray-800);
                                background-color: #EFF2FC;
                                border: none;
                                border-radius: 6px;
                                padding: 10px 20px;
                                margin-right: 12px;
                                cursor: pointer;
                            }
                        }

                        .save-btn {
                            button {
                                color: var(--white);
                                background-color: var(--theme);
                                border: none;
                                border-radius: 6px;
                                padding: 10px 20px;
                                margin-right: 12px;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .p-i-address {
                    .address-titel {
                        @include h5;
                        color: var(--theme);
                    }

                    .address-section {
                        display: grid;

                        label {
                            @include h6;
                            margin-bottom: 5px;
                            margin-top: 20px;

                            span {
                                color: var(--gray-600);
                            }
                        }

                        input {
                            padding: 8px;
                            border: 1px solid var(--gray-400);
                            border-radius: 8px;

                            &:focus {
                                outline: none;
                                border-color: var(--gray-600);
                            }
                        }

                        .p-i-a-code-city {
                            display: grid;
                            grid-template-columns: auto auto;
                            column-gap: 20px;

                            .postal {
                                display: grid;

                                label {
                                    margin-top: 20px;
                                    @include h6;
                                    margin-bottom: 5px;
                                }

                                input {
                                    padding: 8px;
                                    border: 1px solid var(--gray-400);
                                    border-radius: 8px;

                                    &:focus {
                                        outline: none;
                                        border-color: var(--gray-600);
                                    }
                                }
                            }

                            .city {
                                display: grid;

                                label {
                                    margin-top: 20px;
                                    @include h6;
                                    margin-bottom: 5px;
                                }

                                input {
                                    padding: 8px;
                                    border: 1px solid var(--gray-400);
                                    border-radius: 8px;

                                    &:focus {
                                        outline: none;
                                        border-color: var(--gray-600);
                                    }
                                }
                            }
                        }
                    }

                    .buttons-profile {
                        display: flex;
                        margin-top: 15px;

                        .cancel-btn {
                            button {
                                color: var(--gray-800);
                                background-color: #EFF2FC;
                                border: none;
                                border-radius: 6px;
                                padding: 10px 20px;
                                margin-right: 12px;
                                cursor: pointer;
                            }
                        }

                        .save-btn {
                            button {
                                color: var(--white);
                                background-color: var(--theme);
                                border: none;
                                border-radius: 6px;
                                padding: 10px 20px;
                                margin-right: 12px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .security-section {
            justify-self: center;
            display: none;
            padding: 20px;

            @include md {
                width: 60%;
            }

            @include xxl {
                width: 67%;
            }

            .security {
                display: grid;
                justify-self: center;
                row-gap: 20px;

                .s-title {
                    @include h4;
                }

                .s-inputs {
                    display: grid;
                    row-gap: 10px;

                    .s-i-title {
                        @include h6;
                        color: var(--theme);
                    }

                    .s-i-form {
                        display: grid;
                        row-gap: 20px;

                        .s-i-f {
                            display: grid;

                            label {
                                @include text-s;
                                font-weight: 800;
                                margin-bottom: 5px;
                            }

                            input {
                                padding: 8px;
                                border: 1px solid var(--gray-400);
                                border-radius: 8px;

                                &:focus {
                                    outline: none;
                                    border-color: var(--gray-600);
                                }
                            }
                        }
                    }

                    .s-i-buttons {
                        margin-top: 10px;
                        display: flex;
                        gap: 20px;

                        .s-i-b-cancel-btn {
                            display: inline-block;
                            background-color: var(--gray-200);
                            @include text-s;
                            padding: 8px 20px;
                            border-radius: 6px;
                            cursor: pointer;
                        }

                        button {
                            @include text-s;
                            background-color: var(--theme);
                            color: var(--white);
                            border: none;
                            padding: 8px 20px;
                            border-radius: 6px;
                            cursor: pointer;
                        }
                    }
                }

                .s-delete-account {
                    display: grid;
                    row-gap: 20px;
                    margin-top: 40px;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        height: 1px;
                        width: 100%;
                        background-color: var(--gray-300);
                        top: -25px;
                    }

                    .s-d-a-title {
                        @include h6;
                        color: var(--theme);
                    }

                    .s-d-a-description {
                        @include text-s
                    }

                    .s-d-a-checkbox {
                        input {
                        }

                        label {
                            @include text-s;
                        }
                    }

                    .s-d-a-delete-btn {
                        button {
                            @include text-s;
                            background-color: var(--danger);
                            color: var(--white);
                            border: none;
                            padding: 8px 20px;
                            border-radius: 6px;
                        }
                    }
                }
            }
        }

        .saved-courses-section {
            justify-self: center;
            display: none;
            padding: 20px;

            @include md {
                width: 60%;
            }

            @include xxl {
                width: 67%;
            }

            .p-a-saved-courses {
                display: grid;
                // justify-self: center;
                // row-gap: 20px;
                .p-a-s-heading {
                    display: flex;
                    justify-content: space-between;

                    .p-a-s-h-title {
                        @include h3;
                    }

                    .p-a-s-h-btn {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        border: 1px solid var(--danger);
                        color: var(--danger);
                        padding: 10px 30px;
                        border-radius: 8px;

                        i {
                            margin-right: 10px;
                        }
                    }
                }

                .p-saved-course-items {
                    margin-top: 30px;
                    display: grid;
                    row-gap: 30px;

                    @include lg {
                        grid-template-columns: auto auto;
                        justify-content: space-between;
                    }
                    .course-item {
                        justify-self: center;
                        cursor: pointer;
                        position: relative;

                        .c-item {
                            text-decoration: none;

                            .couese-card {
                                position: relative;
                                border-radius: 10px;
                                overflow: hidden;
                                @include shadow-l;
                                max-width: 350px;

                                @include md {
                                    max-width: 350px;
                                }

                                @include lg {
                                    max-width: 290px;
                                }

                                @include xl {
                                    max-width: 350px;
                                }

                                @include xxl {
                                    max-width: 420px;
                                }

                                .card-img {
                                    .course-img {
                                        width: 100%;
                                        max-height: 200px;
                                        object-fit: cover;

                                        @include xl {
                                            max-height: 230px;
                                        }
                                    }
                                }

                                .course-content {
                                    padding: 20px;
                                    @include xl {
                                        padding: 30px
                                    }

                                    .course-title {
 
                                        @include h5;
                                        margin: 0;
                                    }

                                    .course-author {
                                        @include text-s;
                                    }

                                    .course-price {
                                        color: var(--info);
                                        font-weight: 600;
                                        font-size: 20px;
                                    }

                                    .course-time {
                                        position: relative;
                                        margin-top: 40px;
                                        display: flex;
                                        gap: 20px;
                                        color: var(--gray-600);

                                        .course-time-icon {
                                            i {
                                            }
                                        }

                                        .course-likes {
                                            i {
                                            }
                                        }

                                        &::before {
                                            content: '';
                                            position: absolute;
                                            top: -20px;
                                            width: 100%;
                                            height: 1px;
                                            background-color: var(--gray-400);
                                        }
                                    }
                                }
                            }
                        }

                        .course-icon {
                            position: absolute;
                            top: 15px;
                            right: 15px;
                            cursor: pointer;
                            width: 36px;
                            aspect-ratio: 1/1;
                            border-radius: 50%;
                            background-color: white;
                            display: grid;

                            i {
                                align-self: center;
                                justify-self: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
