
@inherits LayoutComponentBase
<div class="container">
<Header/>
    <main role="main" class="pb-3">
        @Body
    </main>
<Footer/>
<ConsentCookie /> 
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
