@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using SilikonBlazorApp.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>

<!-- Login Start -->
<div class="login-section">
    <div class="login">
        <StatusMessage Message="@errorMessage" />
        <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login"  class="login-form">
            <DataAnnotationsValidator />
            <div class="l-f-heading">
                <div class="l-f-h-title">
                    Welcome Back
                </div>
                <hr />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="l-f-h-signup">
                    Don't have an account yet? <a href="/Account/Register">Sign up here</a>
                </div>
            </div>

            <div class="l-f-inputs">
                <label class="l-f-i-label" for="Email"></label>
                <InputText @bind-Value="Input.Email" id="email" for="Email"/>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
                <label class="l-f-i-label" for="Password"></label>
                <InputText type="password" @bind-Value="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password" id="passowrd" />

                <ValidationMessage For="() => Input.Password" class="text-danger" />
                <div class="login-input">
                    <InputCheckbox @bind-Value="Input.RememberMe" class="login-input-el" />
                    <label class="l-f-i-r-label" for="RememberMe">Remember me</label>
                </div>

            </div>
            <button class="l-f-btn" type="submit">Sign in</button>
            <a href="Account/ForgotPassword">Forgot your password?</a>
            <div class="l-f-social-network">
                <div class="l-f-sn-heading">
                    Or sign in with your social network
                </div>
                <div class="l-f-sn-buttons">
                    <a href="#"><img src="images/bxl-google.png" alt="">Google</a>
                    <a href="#"><img src="images/bxl-facebook.png" alt="">Facebook</a>
                </div>
            </div>
        </EditForm>
    </div>
</div>
<!-- Login End -->

@code {
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo(
                "Account/LoginWith2fa",
                new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: Invalid login attempt.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }

        public bool IsPresistent { get; set; }
    }
}
